.appLayout{
    border: 2px solid black;
    height: 400px;
    width: 400px;
    margin: auto;
    padding-top: 65px;
}

.rollStyle {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
}

button {
    height: 50px;
    width: 100px;
}
